<app-menu></app-menu>
<div class ="component-content">
	<div class =''>
		<div class ='lefthalf'>
			<span class ='component-title'>{{title}}</span>
			<span class='actions'><a routerLink ='/user/create' *ngIf='SysSvc.data.user.instance.Admin'><img id ='createnew' width = '25' height = '25' src= 'assets/add-new.png' title ="Add New"></a></span>
		</div>

	<div class='righthalf input-group'>
		<span class ='sortingmargin'>Sort:</span>
		<select [(ngModel)]= 'selectedSortKey' class ='custom-select text-sm-left'>
			<option *ngFor='let sortKey of sortKeys' value = '{{sortKey}}'>{{sortKey}}</option>
		</select>
		<span class='sortingmargin'>Order:</span>
			<select [(ngModel)] = 'sortDesc' class ='custom-select text-sm-left'>
				<option value = 'asc'>Asc</option>
				<option value='desc'>Desc</option>
			</select>
		</div>
	</div>
<p *ngIf= '!users'>loading ... </p>
<table class = "table table-sm table-striped table-bordered" *ngIf='users'>
<thead class ='table-inverse'>
<tr>
	<th>ID</th>
	<th>UserName</th>
	<th>Password</th>
	<th>Name</th>
	<th>PhoneNumber</th>
	<th>Email</th>
	<th>Privileges</th>
	<th>Actions</th>

</tr> 
</thead>
	<tr *ngFor='let user of users | sort:selectedSortKey:sortDesc'>

		<td>{{user.Id}}</td> 
		<td>{{user.UserName}}</td>
		<td>**********</td>
		<td>{{user.FirstName}} {{user.LastName}}</td>
		<td>{{user.PhoneNumber}}</td>
		<td>{{user.Email}}</td>
		<td>{{user.Admin ? "Admin": ""}} {{user.Reviewer? "Reviewer": ""}} {{user.Active ? "Active": ""}}</td> <!--not served up -->
		<td class = 'actions'>
			<a routerLink = '/user/detail/{{user.Id}}'><img *ngIf='SysSvc.data.user.instance.Admin' src = 'assets/detail.png' title = 'Detail'></a>
			<a routerLink = '/user/edit/{{user.Id}}'><img *ngIf='SysSvc.data.user.instance.Admin' src = 'assets/edit.png' title = 'Edit'></a>
		</td>
	</tr>
</table>
