<app-menu></app-menu>
<div class ="component-content">
	<div class =''>
		<div class ='lefthalf'>
			<span class ='component-title'>{{title}}</span>
			<span><a routerLink ='/product/create'><img id ='createnew' width = '20' height = '20' src= 'assets/add-new.png' title ="Add New"></a></span>
		</div>

	<div class='righthalf input-group'>
		<span class =''>Sort: </span>
		<select [(ngModel)]= 'selectedSortKey' class ='custom-select text-sm-left'>
			<option *ngFor='let sortKey of sortKeys' value = '{{sortKey}}'>{{sortKey}}</option>
		</select>
		<span>Order:</span>
			<select [(ngModel)] = 'sortDesc' class ='custom-select text-sm-left'>
				<option value = 'asc'>Asc</option>
				<option value='desc'>Desc</option>
			</select>
		</div>
	</div>
<p *ngIf= '!products'>loading ... </p>
<table class = "table table-sm" *ngIf='products'>

<tr>
	<th>Unit</th>
	<th>PartNumber</th>
	<th>Name</th>
	<th>Price</th>
	<th>PhotoPath</th>
	<th>Vendor</th>

</tr> 
<tr *ngFor='let product of products | sort:selectedSortKey:sortDesc'>

		<td>{{product.Unit}}</td> 
		<td>{{product.PartNumber}}</td>
		<td>{{product.Name}}</td>
		<td>{{product.Price}}</td>
		<td>{{product.PhotoPath}}</td>
		<td>{{product.Vendor}}</td> 
		<td class = 'actions'>
			<a routerLink = '/product/detail/{{product.Id}}'><img src = 'assets/detail.png' title = 'Detail'></a>
			<a routerLink = '/product/edit/{{product.Id}}'><img src = 'assets/edit.png' title = 'Edit'></a>
		</td>
</tr>
</table>
