<app-menu></app-menu>
		<div class ='lefthalf'>
			<span class ='component-title'>[{{title}}]</span>
			<span><a routerLink ='/user/create'><img id ='createnew' width = '20' height = '20' src= 'assets/add-new.png' title ="Add New"></a></span>
		</div>
		<div class ='righthalf'>
			<span><a routerLink = '/user/list'>Back to list </a></span>
		</div>
<table *ngIf='user' class = 'table table-sm'>
		<tr>
			<th>ID</th>
			<td>{{user.Id}}</td>
		</tr>
		<tr>
			<th>UserName</th>
			<td>{{user.UserName}}</td>
		</tr>

		<tr>
			<th>Password</th>
			<td>{{user.Password}}</td>
		</tr>

		<tr>
			<th>Name</th>
			<td>{{user.FirstName}} {{user.LastName}}</td>
		</tr>

		<tr>
			<th>PhoneNumber</th>
			<td>{{user.PhoneNumber}}</td>
		</tr>

		<tr>
			<th>Email</th>
			<td>{{user.Email}}</td>
		</tr>

		<tr>
			<th>Reviewer</th>
			<td>{{user.Reviewer ? "Yes" : "No"}}</td>
		</tr>

		<tr>
			<th>Admin</th>
			<td>{{user.Admin ? "Yes" : "No"}}</td>
		</tr>
		<tr>
			<th>Active</th>
			<td>{{user.Active ? "Yes" : "No"}}</td>
		</tr>

  <tr><td colspan ="2">
	<a routerLink='/user/edit/{{user.Id}}' class = 'btn btn-primary' title = 'Edit'>Edit</a>
	<button (click)= "delete()" style = "margin-left: 46px;" class = "btn btn-danger" title = "Delete">Remove</button>
  </td></tr>
</table>
