<app-menu></app-menu>
<div class = "formatcomps">
		<div class ='lefthalf'>
			<span class ='component-title'>{{title}}</span>
		</div>
		<div class ='righthalf'>
			<span><a routerLink = '/lineitem/list'>Back to list</a></span>
		</div>
<table *ngIf='lineitem' class = 'table table-sm'>
		<tr>
			<th>ID</th>
			<td>{{lineitem.Id}}</td>
		</tr>
		<tr>
			<th>Purchase Request ID</th>
			<td>{{lineitem.PurchaseRequestID}}</td>
		</tr>

		<tr>
			<th>Quantity</th>
			<td>{{lineitem.Quantity}}</td>
		</tr>

		<tr>
			<th>ProductID</th>
			<td>{{lineitem.ProductID}}</td>
		</tr>


  <tr><td colspan ="2">
	<a routerLink='/lineitem/edit/{{lineitem.Id}}' class = 'btn btn-primary' title = 'Edit'>Edit</a>
	<button (click)= "delete()" style = "margin-left: 46px;" class = "btn btn-danger" title = "Delete">Delete</button>
  </td></tr>
</table>
</div>