<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class ="loginformat">
	<div class = "form-group">
		<label class = 'col-form-label col-sm-2 ' for='username'></label>
		<input [(ngModel)]='user.UserName' name = 'Username' type ='text' class = 'form-control col-sm-4' id ='username' aria-describedby="emailHelp" placeholder="Username">
	</div>	
	<div class="form-group">
		<label class = 'col-form-label col-sm-2' for='pw'></label>
		<input [(ngModel)]='user.Password' name = 'Password' type ='text' class = 'form-control col-sm-4' id ='pw' aria-describedby="emailHelp" placeholder="Password">
	</div>
	<div class ="form-group">
		<span><button (click)='login()' class="btn btn-primary">Login</button></span> 
	</div>
	<div class="form-group">
		<span>{{this.message}}</span>
	</div>
</div>