<app-menu></app-menu>
<div class ='lefthalf' style ="margin-left: 6px;">
	<span class ='component-title'>{{title}}</span>
</div>

<div class ='righthalf'>
			<span><a routerLink = '/lineitem/list'>Back to list</a></span>
</div>

<p *ngIf='!lineitem'>Loading... </p>

<div *ngIf='lineitem' style = "margin-left: 30px;">
<!-- 	<div class ='form-group row'>

		<label class = 'col-form-label col-sm-2' for='username'>Id:</label>
		<input [(ngModel)]='lineitem.Id' name = 'Username' type ='text' class = 'form-control col-sm-4' id ='username' aria-describedby="emailHelp" placeholder="Username">

	</div> -->
	<div class ='form-group row'>

		<label class = 'col-form-label col-sm-2' for='userfirstname'>PurchaseRequestID:</label>
		<input [(ngModel)]='lineitem.PurchaseRequestID.Id' name = 'Firstname' type ='text' class = 'form-control col-sm-4' id ='userfirstname' aria-describedby="emailHelp" placeholder="First Name">

	</div>
	<div class ='form-group row'>

		<label class = 'col-form-label col-sm-2' for='userlastname'>ProductID:</label>
		<input [(ngModel)]='lineitem.ProductID.Id' name = 'Lastname' type ='text' class = 'form-control col-sm-4' id ='userlastname' aria-describedby="emailHelp" placeholder="Last Name">

	</div>
	<div class ='form-group row'>

		<label class = 'col-form-label col-sm-2' for='useremail'>Quantity: </label>
		<input [(ngModel)]='lineitem.Quantity' name = 'Firstname' type ='text' class = 'form-control col-sm-4' id ='useremail' aria-describedby="emailHelp" placeholder="Email">

	</div>
	<div class ='form-group'>
		<button (click)='add()' class="btn btn-primary">Add new</button>
	</div>
</div>
