<app-menu></app-menu>
<div class ="component-content">
	<div class =''>
		<div class ='lefthalf'>
			<span class ='component-title'>{{title}}</span>
		</div>

	<div class='righthalf input-group'>
		<span class =''>Sort: </span>
		<select [(ngModel)]= 'selectedSortKey' class ='custom-select text-sm-left'>
			<option *ngFor='let sortKey of sortKeys' value = '{{sortKey}}'>{{sortKey}}</option>
		</select>
		<span>Order:</span>
			<select [(ngModel)] = 'sortDesc' class ='custom-select text-sm-left'>
				<option value = 'asc'>Asc</option>
				<option value='desc'>Desc</option>
			</select>
		</div>
	</div>
<p *ngIf= '!status'>loading ... </p>
<table class = "table table-sm" *ngIf='status'>

	<tr>
		<th>ID</th>
		<th>Description</th>
	</tr> 

	<tr *ngFor='let status of status | sort:selectedSortKey:sortDesc'>
		<td>{{status.Id}}</td> 
		<td>{{status.Description}}</td>  
	</tr>
</table>
