<app-menu></app-menu>
<div class ='lefthalf' style ="margin-left: 6px;">
	<span class ='component-title'>{{title}}</span>
</div>

<div class ='righthalf'>
			<span><a routerLink = '/purchaserequest/list'>Back to list</a></span>
</div>

<p *ngIf='!purchaserequest'>Loading... </p>

	<div *ngIf='purchaserequest'>

			<div class ='form-group row'>

				<label class = 'col-form-label col-sm-4' for='vendorfirstname'>Description:</label>
				<input [(ngModel)]='purchaserequest.Description' name = 'Firstname' type ='text' class = 'form-control col-sm-4' id ='vendorfirstname' aria-describedby="emailHelp" placeholder="First Name">

			</div>

			<div class ='form-group row'>

				<label class = 'col-form-label col-sm-4' for='vendorfirstname'>Justification:</label>
				<input [(ngModel)]='purchaserequest.Justification' name = 'Firstname' type ='text' class = 'form-control col-sm-4' id ='vendorfirstname' aria-describedby="emailHelp" placeholder="First Name">
			</div>

			<div class ='form-group row'>

				<label class = 'col-form-label col-sm-4' for='vendorfirstname'>Date Needed:</label>
				<input [(ngModel)]='purchaserequest.DateNeeded' name = 'Firstname' type ='text' class = 'form-control col-sm-4' id ='vendorfirstname' aria-describedby="emailHelp" placeholder="First Name">
				<small id="emailHelp" class="form-text text-muted col-sm-2"></small>

			</div>

			<div class ='form-group row'>

				<label class = 'col-form-label col-sm-4' for='vendorfirstname'>Delivery Mode:</label>
				<input [(ngModel)]='purchaserequest.DeliveryMode' name = 'Firstname' type ='text' class = 'form-control col-sm-4' id ='vendorfirstname' aria-describedby="emailHelp" placeholder="unit">
				<small id="emailHelp" class="form-text text-muted col-sm-2"></small>

			</div>

			<div class ='form-group row'>

				<label class = 'col-form-label col-sm-4' for='vendorfirstname'>Status ID:</label>
				<input [(ngModel)]='purchaserequest.StatusID' name = 'Firstname' type ='text' class = 'form-control col-sm-4' id ='vendorfirstname' aria-describedby="emailHelp" placeholder="photo path">
				<small id="emailHelp" class="form-text text-muted col-sm-2"></small>

			</div>
			<div class ='form-group row'>

				<label class = 'col-form-label col-sm-4' for='vendorfirstname'>Total:</label>
				<input [(ngModel)]='purchaserequest.Total' name = 'Firstname' type ='text' class = 'form-control col-sm-4' id ='vendorfirstname' aria-describedby="emailHelp" placeholder="photo path">
				<small id="emailHelp" class="form-text text-muted col-sm-2"></small>

			</div>
			<div class ='form-group row'>

				<label class = 'col-form-label col-sm-4' for='vendorfirstname'>Submitted Date:</label>
				<input [(ngModel)]='purchaserequest.SubmittedDate' name = 'Firstname' type ='text' class = 'form-control col-sm-4' id ='vendorfirstname' aria-describedby="emailHelp" placeholder="photo path">
				<small id="emailHelp" class="form-text text-muted col-sm-2"></small>

			</div>
			<div class ='form-group row'>

				<label class = 'col-form-label col-sm-4' for='vendorfirstname'>User ID:</label>
				<input [(ngModel)]='purchaserequest.UserID' name = 'Firstname' type ='text' class = 'form-control col-sm-4' id ='vendorfirstname' aria-describedby="emailHelp" placeholder="photo path">
				<small id="emailHelp" class="form-text text-muted col-sm-2"></small>

			</div>

		<div class ='form-group'>
		<button (click)='change()' class="btn btn-primary">Update</button>
		</div>
	</div>
