<app-menu></app-menu>
<p style="margin-left: 35px; margin-top: 15px; font-size: 19px;">In our Java Bootcamp we have developed a Purchase Request System with the following technologies:</p>
	<div>
	<img src="assets/JavaBootcampImage.jpeg" style="width: 450px; height: 337px; float: right; margin-right: 15px; margin-left: 12px;">
	</div>

<ul class = "aboutstyle">
	<li>Front-end: Angular/Typescript, HTML, CSS, Bootstrap</li>

	<li>Middleware: Java, Java Persistence API, Spring Boot</li>

	<li>Backend: MySQL database</li>

</ul>


<p style="margin-left: 35px; font-size: 19px;">Our graduating class included these students and faculty:</p>

<ul class = "aboutstyle">
	<li>Instructors: Sean Blessing and Greg Doud</li>
	<li>Administrator: Kim Peace</li>
	<li>Marketing: Dave Dziak, Lisa Slutsky, Terri Shannon</li>
	<li>Students: Joe Moorhouse, Luke Hinegardner, Bill Mandela,Lisa Giesel, Emilie Sedziol, Eric Pitt, Andrew Mojzer, Denise Clark</li>
</ul>


	<div style ="margin-top: 80px;">
		<img src="assets/angularlogo.jpg">

		<img src="assets/HTML5_Logo.svg" style ="width: 200px; height: 200px;">
		<img src="assets/css3logo.png" style ="width: 200px; height: 200px;">
		<img src="assets/bootstraplogo.jpeg" style ="width: 200px; height: 200px;">
		<img src="assets/javalogo.png">
		<img src="assets/springlogo.png">
		<img src="assets/mysqllogo.png">
	</div>
