<app-menu></app-menu>
<p style="margin-left: 13px; margin-top: 15px;">In our Java Bootcamp we have developed a Purchase Request System with the following technologies:</p>

<ul>
	<li>Front-end: Angular/Typescript, HTML, CSS, Bootstrap</li>
	<li>Middleware: Java, Java Persistence API, Spring Boot</li>
	<li>Backend: MySQL database</li>
</ul>

<p style="margin-left: 13px;">Our graduating class included these students and faculty:</p>

<ul>
	<li>Instructors: Sean Blessing and Greg Doud</li>
	<li>Administrator: Kim Peace</li>
	<li>Marketing: Dave Dziak, Lisa Slutsky, Terri Shannon</li>
	<li>Students: Joe Moorhouse, Luke Hinegardner, Bill Mandela,<br> &emsp;&emsp;&emsp;&emsp;&emsp;Lisa Giesel, Emilie Sedziol, Eric Pitt, Andrew Mojzer, Denise Clark</li>
</ul>