/* You can add global styles to this file, and also import other style files */
.component-content{

}
.lefthalf{
	display: inline-block;
	width: 49%;
	margin-top: 5px;
	margin-bottom: 5px;
}
.righthalf{
	display: inline-block;
	width: 49%;
	text-align: right;
	margin-top: 5px;
	margin-bottom: 5px;
}
.formatcomps{

}

.select-list{
	padding:0px;
}