<app-menu></app-menu>
	<div class ='component-content'>
		<div class ='lefthalf'>
			<span class ='component-title'>{{title}}</span>
			<span class='actions'><a routerLink ='/lineitem/create'><img id ='createnew' width = '25' height = '25' src= 'assets/add-new.png' title ="Add New"></a></span>
		</div>

	<div class ='righthalf'>
			<span><a routerLink = '/purchaserequest/list'>Back to list</a></span>
			<span style="margin-left: 90px;" *ngIf='SysSvc.data.user.instance.Reviewer'>
				<button class="btn btn-primary">Approve</button>
				<button style ="margin-left: 20px;" class="btn btn-danger">Reject</button>
			</span>
		</div>
	</div>
<div class ="component-content">
	<p *ngIf= '!lineitems'>loading ... </p>

		<table class = "table table-sm table-striped table-bordered" 
		*ngIf='purchaserequest'>
		<thead class="table-inverse">
		<tr>
			<th>ID</th>
			<th>Description</th>
			<th>Status</th>
			<th>Total</th>
		</tr>
		</thead> 

		<tr>
				<td>{{purchaserequest.Id}}</td> 
				<td>{{purchaserequest.Description}}</td> 
				<td>{{purchaserequest.StatusID}}</td>
				<td>{{purchaserequest.Total | currency}}</td>
		</tr>
		</table>

		<table class = "table table-sm table-striped table-bordered" 
		*ngIf='lineExist'>
		<thead class="table-inverse">
			<tr>
				<th>ID</th>
				<th>ProductID</th>
				<th>Quantity</th>
				<th>Actions</th>


			</tr>
		</thead> 
			<tr *ngFor='let lineitem of lineitems'>
					<td>{{lineitem.Id}}</td> 
					<td>{{lineitem.ProductID}}</td>
					<td>{{lineitem.Quantity}}</td> 

					<td class = 'actions'>
						<a routerLink = '/lineitem/detail/{{lineitem.Id}}'><img src = 'assets/detail.png' title = 'Detail'></a>
						<a routerLink = '/lineitem/edit/{{lineitem.Id}}'><img src = 'assets/edit.png' title = 'Edit'></a>
					</td>
			</tr>
		</table>
</div>
